fastapi
uvicorn[standard]
scikit-learn
pydantic
numpy
pandas
matplotlib
seaborn
requests
beautifulsoup4
pytest
httpx
pytest-asyncio
sqlalchemy
databases
alembic
jupyterlab
jupyterlab-git          
opentelemetry-exporter-gcp-trace
opentelemetry-sdk